html body{
    width: 100%;
    height: 100vh;
    background: #E5E7E9;
}

.componentBackground {
    border: 1px solid blue;
    overflow-y: auto;
    width: 100%;
    height: 100vh;
    padding-top: 65px; /* Keeps the folder list below the navbar */
    padding-bottom: 50px;
}

div.folderTab{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 0;
    background: #F4F6F7;
    text-align: center;
}

div img.folder{
    margin: 0 25px 0 25px;
    height: 40px;
    width: 40px;
}

p.folderTextOff{
    width: 50px;
    justify-content: center;
    font-size: .6em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
}

p.folderTextOn{
    width: 50px;
    justify-content: center;
    font-size: .6em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
    color: #2471A3;
}

.contentFiles{
    border: 3px solid yellow;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.itemStyleHorizontal{
    margin: auto 10px;
    width: 120px;
    height: 90px;
}

.itemStyleVertical{
    width: 90px;
    height: 120px;
    margin: auto 10px;
}

div.boxAroundOff{
    display: flex;
/*    flex-wrap: wrap;*/
    
    margin: 10px;
    border: 1px solid black;
    background: white;
    height: 150px;
    width: 300px;
}

div.boxAroundOn{
    display: flex;
/*    flex-wrap: wrap;*/
    margin: 10px;
    border: 1px solid black;
    background: lightblue;
    height: 150px;
    width: 300px;    
}

div.descContainer{
    display: flex;
    margin-left: auto;
    margin-right: 60px;
}

div.contentDesc{
    border: 1px solid blue;
}

div.nameFont{
    border: 1px solid green;
    font-size: .8em;
    font-weight: bold;
}

div.imageAndDuration{
    border: 1px solid orange;
    display: flex;
    align-items: center;
}

div img.imageStyle{
    margin: 5px;
    border: 1px solid yellow;
    display: inline-block;
    height: 25%;
    width: 25%;
}

span.timeDuration{
    border: 1px solid black;
    font-size: .8em;
}

div.resolutionTag{
    font-size: .8em;
    border: 1px solid blue;
}

div.creationStyle{
    margin-top: 8px;
}

span.createdFont{
    border: 1px solid green;
    font-size: .7em;
}

div span.timeFont{
    border: 1px solid black;
    margin-top: 2px;
    font-size: .8em;
    font-weight: bold;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlayStyle{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0,0,0,.15); /* Fallback color */
}
